.carousel-photo {

  img {
    border-radius: 5px;
  }

  &.owl-carousel {
    .owl-nav {
      position: absolute;
      top: calc(50% - 15px);
      left: 0;
      width: 100%;
  
      .owl-prev,
      .owl-next {
        position: absolute;
        width: 20px;
        height: 30px;
        text-indent: -99px;
        overflow: hidden;
      }
    
      .owl-prev {
        left: -30px;
        background-image: url(../img/ico-arrow-left.svg);
      }
  
      .owl-next {
        right: -30px;
        background-image: url(../img/ico-arrow-right.svg);
      }
    }

    .owl-dots {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .owl-dot {
        width: 14px;
        height: 14px;
        border: 1px solid #e35191;
        border-radius: 50%;
        margin: 0 2px;

        &.active {
          background-color: #e35191;
        }
      }
    }
  }

  @media (max-width: 575px) {
    padding-bottom: 25px;
  }
}