$classBlock: '.dropdown-block';

#{$classBlock} {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;

  &__link {
    color: #E35191;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #E35191;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      background-image: url(../img/ico-arrow-down.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .25s ease-in-out;
    }

    &--active {

      &:after {
        transform: rotate(180deg);
      }

      & + #{$classBlock}__text {
        max-height: 500px;
        opacity: 1;
        transition: max-height .5s ease-in-out, opacity .25s ease-in-out;
      }
    }

    @media (max-width: 767px) {
      font-size: 15px;
    }
  }

  &__text {
    max-height: 0;
    opacity: 0;
    height: auto;
    overflow: hidden;
    color: #7E8088;
    font-size: 15px;
    transition: max-height .25s ease-in-out, opacity .25s ease-in-out;

    @media (max-width: 767px) {
      font-style: 14px;
    }
  }
}