.form-block {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  position: relative;
  z-index: 1;

  &__img {
    margin: -75px 0 -78px -30px;
  }

  .info-block-vertical {
    border-radius: 5px 0 0 5px;

    @media (max-width: 991px) {
      border-radius: 5px;
    }
  }

  &__form {
    padding: 42px 0;

    @media (max-width: 1199px) {
      padding-right: 30px;
    }

    @media (max-width: 991px) {
      padding-left: 30px;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
    }
  }

  @media (max-width: 991px) {
    background: transparent;
  }
}