.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 19px 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 5;

  &__logo {
    border-right: 2px solid #E35191;
    padding-right: 15px;
    line-height: 1;
    text-align: center;

    a {
      display: block;
      max-width: 200px;
    }

    span {
      display: inline-block;
      font-size: 13px;
      color: #7E8088;
      margin-top: 5px;

      @media (max-width: 575px) {
        font-size: 9px;
      }
    }

    @media (max-width: 575px) {
      width: 140px;
    }
  }

  &__slogan {
    font-size: 18px;

    @media (max-width: 991px) {
      width: 160px;
      display: block;
    }

    @media (max-width: 575px) {
      font-size: 14px;
      width: 130px;
      line-height: 1.2;
    }
  }

  &__phone {
    font-size: 22px;
    font-weight: bold;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  @media (max-width: 1199px) {
    padding: 10px 0;
  }
}