.text-block {
  background: #F7F5F2;
  border-radius: 5px;
  padding: 25px 30px;

  &__img {
    margin: -85px -35px;

    @media (max-width: 991px) {
      margin: 0;
      text-align: center;
    }
  }
}